#header {
    margin-bottom: 20px;
    padding-top: 30px;
    position: relative;
    z-index: 99;
}

#header.headerSakura .bannerPicturePerson {
    background-image: url(../../assets/img/banner/Sakura.png) ;
}
#header.headerSakura .headerContent {
    padding-left: 350px;
}

#header.headerLasswell .bannerPicturePerson {
    background-image: url(../../assets/img/banner/Lasswell.png) ;
}
#header.headerLasswell .headerContent {
    padding-left: 300px;
}

#header.headerJake .bannerPicturePerson {
    background-image: url(../../assets/img/banner/Jake.png) ;
}
#header.headerJake .headerContent {
    padding-left: 360px;
}

#header.headerRain .bannerPicturePerson {
    background-image: url(../../assets/img/banner/Rain.png) ;
}
#header.headerRain .headerContent {
    padding-left: 340px;
}

#header.headerNichol .bannerPicturePerson {
    background-image: url(../../assets/img/banner/Nichol.png) ;
}
#header.headerNichol .headerContent {
    padding-left: 330px;
}

#header.headerLid .bannerPicturePerson {
    background-image: url(../../assets/img/banner/Lid.png) ;
}
#header.headerLid .headerContent {
    padding-left: 325px;
}

#header.headerFina .bannerPicturePerson {
    background-image: url(../../assets/img/banner/Fina.png) ;
}
#header.headerFina .headerContent {
    padding-left: 330px;
}

#header.headerMogChocobo .bannerPicturePerson {
    background-image: url(../../assets/img/banner/MogChocobo.png) ;
}
#header.headerMogChocobo .headerContent {
    padding-left: 310px;
}

#header .headerContent {
    align-items: center;
    display: flex;
    height: 82px;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 12px;
}

#header .headerTitle {
    color: #fff;
    font-size: 2.5em;
    font-weight: 300;
    line-height: 1em;
}


.navigationMenu .desktop {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    padding-left: 25px;
}

.navigationMenu .mobile {
    display: none;
}

.navigationMenu .menuLogo {
    cursor: pointer;
    height: 94px;
    left: 26px;
    position: absolute;
    top: 12px;
    width: 94px;
}

.navigationMenu .desktop a {
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #777;
    display: inline;
    font-size: 18px;
    margin-bottom: 2px;
    margin-right: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    text-decoration: none;
}

.navigationMenu .desktop a:hover {
  background-color: #f0f0f0;
}

.navigationMenu .desktop a.active {
    border-color: #b8b8b8;
    box-shadow: 0 1px 4px rgba(0,0,0,.15);
    color:black;
  font-weight: bold;
}

#header .headerTopButtons {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
}

#languages .lang.selected {
    box-shadow: 0 0 5px 2px #3166ff;
}
#languages .lang {
    margin: 0 2px;
}

#header .switchServer {
    padding: 0 12px 0 16px;
}

#header .bannerBackground {
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    height: 83px;
    left: 0;
    position: absolute;
    right: 0;
    top: 30px;
    z-index: -1;
}

#header .bannerPicture {
    background-image: url(/assets/img/banner/banner_blank.png);
}
#header .bannerPicture, #header .bannerPicturePerson {
    background-repeat: no-repeat;
    background-size: auto 110px;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 2px;
    z-index: -1;
}

#header .bannerPicturePerson {
    left: 110px;
}


#inventoryDiv {
  display: flex;
}

#inventoryDiv button {
  height: 50px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: 0;
}
.inventoryStatus {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50px;
  text-align: left !important;
  border: 1px solid #ccc;
  padding: 3px 12px;
  line-height: 1;
  color: #aeaeae;
  background-color: #f8f9fa;
  border-bottom-right-radius: 0.25em;
  border-top-right-radius: 0.25em;
}

.inventoryStatus .status {
  font-size: .85em;
}

.inventoryStatus .badge {
  margin-right: 6px;
}


.switchServer button.btn {
  margin-left: 0 !important;
  padding: 2px 8px;
  line-height: 1;
}
