<div id="header" [ngClass]="{'headerMogChocobo': $page == Pages.HOME, 'headerSakura': $page == Pages.ENCYCLOPEDIA}">
    <div class="headerContent">
        <div class="headerTitle">
            {{$titles.get($page)}}
        </div>
        <div id="inventoryDiv">
            <button mat-stroked-button *ngIf="loggingState == LoggingState.LOGGED_IN" (click)="logOut()">
                <span class="fas fa-sign-out-alt" title="logout"></span>
            </button>
            <button mat-stroked-button *ngIf="loggingState == LoggingState.LOGGED_OUT" (click)="logIn()">
                Log in
            </button>
            <button mat-stroked-button *ngIf="loggingState == LoggingState.LOADING">
              <span class="fas fa-spinner rotating"></span>
            </button>
            <div class="inventoryStatus">

                <span class="status loading" *ngIf="loggingState == LoggingState.LOADING">Loading inventory</span>
                <span class="status loaded" *ngIf="loggingState == LoggingState.LOGGED_IN">Inventory loaded</span>
                <span class="status notLoaded" *ngIf="loggingState == LoggingState.LOGGED_OUT">Inventory not loaded</span>
                <div class="loader" *ngIf="loggingState == LoggingState.LOADING"></div>
                <div *ngIf="loggingState == LoggingState.LOGGED_IN">
                  <span class="badge badge-secondary unitsNumber">{{unitCount}} units</span>
                  <span class="badge badge-secondary itemsNumber">{{itemCount}} items</span>
                </div>
            </div>
        </div>
    </div>
    <div class="navigationMenu">
        <div class="desktop">
            <div class="menuLogo" onclick="window.location.href='/' + (server == 'GL' ? '' : '?server=' + server)" title="Return to homepage"></div>
            <nav mat-tab-nav-bar>
              <a mat-tab-link [routerLink]="['/', $language, 'home']" [active]="$page == Pages.HOME">Home</a>
              <a mat-tab-link href="builder.html">Builder</a>
              <a mat-tab-link [routerLink]="['/', $language, 'encyclopedia']" [active]="$page == Pages.ENCYCLOPEDIA">Encyclopedia</a>
              <a mat-tab-link href="builder.html">Unit search</a>
              <a mat-tab-link href="builder.html">My Inventory</a>
              <a mat-tab-link href="builder.html">My units</a>
              <a mat-tab-link href="builder.html">My espers</a>
              <a mat-tab-link href="builder.html">Contribute</a>
            </nav>
        </div>
        <div class="mobile">
            <div class="menuLogo dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
            <ul class="dropdown-menu">
                <li [ngClass]="{active:$page == Pages.HOME}">
                    <a href="/" data-internal-link="/">
                        <span class="glyphicon glyphicon-chevron-right"></span> Home
                    </a>
                </li>
                <li [ngClass]="{active:$page == Pages.BUILDER}">
                    <a href="builder.html" data-internal-link="builder.html">
                        <span class="glyphicon glyphicon-chevron-right"></span> Unit builder
                    </a>
                </li>
                <li [ngClass]="{active:$page == Pages.ENCYCLOPEDIA}">
                    <a href="encyclopedia.html" data-internal-link="encyclopedia.html">
                        <span class="glyphicon glyphicon-chevron-right"></span> Encyclopedia
                    </a>
                </li>
                <li [ngClass]="{active:$page == Pages.UNIT_SEARCH}">
                    <a href="unitSearch.html" data-internal-link="unitSearch.html">
                        <span class="glyphicon glyphicon-chevron-right"></span> Unit Search
                    </a>
                </li>
                <li [ngClass]="{active:$page == Pages.MY_INVENTORY}">
                    <a href="inventory.html" data-internal-link="inventory.html">
                        <span class="glyphicon glyphicon-chevron-right"></span> My inventory
                    </a>
                </li>
                <li [ngClass]="{active:$page == Pages.MY_UNITS}">
                    <a href="units.html" data-internal-link="units.html">
                        <span class="glyphicon glyphicon-chevron-right"></span> My units
                    </a>
                </li>
                <li [ngClass]="{active:$page == Pages.MY_ESPERS}">
                    <a href="espers.html" data-internal-link="espers.html">
                        <span class="glyphicon glyphicon-chevron-right"></span> My Espers
                    </a>
                </li>
                <li [ngClass]="{active:$page == Pages.CONTRIBUTE}">
                    <a href="contribute.html" data-internal-link="contribute.html">
                        <span class="glyphicon glyphicon-chevron-right"></span> Contribute
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="headerTopButtons">
        <div id="languages" *ngIf="$server == Server.GL">
            <span class="lang lang-sm" [ngClass]="{selected:($language == Language.EN || $language == Language.DEFAULT)}" lang="en" onclick="switchToLanguage('en')"></span>
            <span class="lang lang-sm" [ngClass]="{selected:$language == Language.ZH}" lang="zh" onclick="switchToLanguage('zh')"></span>
            <span class="lang lang-sm" [ngClass]="{selected:$language == Language.KO}" lang="ko" onclick="switchToLanguage('ko')"></span>
            <span class="lang lang-sm" [ngClass]="{selected:$language == Language.FR}" lang="fr" onclick="switchToLanguage('fr')"></span>
            <span class="lang lang-sm" [ngClass]="{selected:$language == Language.DE}" lang="de" onclick="switchToLanguage('de')"></span>
            <span class="lang lang-sm" [ngClass]="{selected:$language == Language.ES}" lang="es" onclick="switchToLanguage('es')"></span>
        </div>
        <div class="switchServer">
          <mat-button-toggle-group appearance="legacy" (change)="switchServer($event.value)">
            <mat-button-toggle value="GL" [checked]="$server == Server.GL">GL</mat-button-toggle>
            <mat-button-toggle value="JP" [checked]="$server == Server.JP">JP</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
    </div>
    <div class="bannerBackground"></div>
    <div class="bannerPicture"></div>
    <div class="bannerPicturePerson"></div>
</div>
