<div class="footer">
  <div>
    <a href="https://www.reddit.com/message/compose/?to=lyrgard"><img src="assets/img/external/reddit.svg" class="externalLogo"/>Send me a message on reddit</a>
    <a href="https://discord.gg/rgXnjhP"><img src="assets/img/external/discord.svg" class="externalLogo" />Get help on the FFBE Equip discord server</a>
    <a href="https://github.com/lyrgard/ffbeEquip"><img src="assets/img/external/github.svg" class="externalLogo"/>See code on GitHub</a>
  </div>
  <div><a href="https://ko-fi.com/Lyrgard"><img src="assets/img/external/ko-fi.svg" class="externalLogo koFi"/>Buy me a coffee</a></div>
  <div><a href="https://www.patreon.com/Lyrgard"><img src="assets/img/external/patreon.svg" class="externalLogo"/>Become my patron on Patreon</a></div>
</div>
