<div class="gridContainer">
  <ul class="grid">
    <li><app-esper-node class="notUsed"></app-esper-node></li>
    <li><app-esper-node class="notUsed"></app-esper-node></li>
    <li><app-esper-node class="lvl3"></app-esper-node></li>
    <li><app-esper-node class="lvl3"></app-esper-node></li>
    <li><app-esper-node class="lvl3"></app-esper-node></li>
    <li><app-esper-node class="lvl3"></app-esper-node></li>
    <li><app-esper-node class="lvl3"></app-esper-node></li>
    <li><app-esper-node class="notUsed"></app-esper-node></li>
    <li><app-esper-node class="notUsed"></app-esper-node></li>

    <li><app-esper-node class="notUsed"></app-esper-node></li>
    <li><app-esper-node class="lvl3"></app-esper-node></li>
    <li><app-esper-node class="lvl2"></app-esper-node></li>
    <li><app-esper-node class="lvl2"></app-esper-node></li>
    <li><app-esper-node class="lvl2"></app-esper-node></li>
    <li><app-esper-node class="lvl2"></app-esper-node></li>
    <li><app-esper-node class="lvl3"></app-esper-node></li>
    <li><app-esper-node class="notUsed"></app-esper-node></li>
    <li><app-esper-node class="notUsed"></app-esper-node></li>

    <li><app-esper-node class="notUsed"></app-esper-node></li>
    <li><app-esper-node class="lvl3"></app-esper-node></li>
    <li><app-esper-node class="lvl2"></app-esper-node></li>
    <li><app-esper-node></app-esper-node></li>
    <li><app-esper-node></app-esper-node></li>
    <li><app-esper-node></app-esper-node></li>
    <li><app-esper-node class="lvl2"></app-esper-node></li>
    <li><app-esper-node class="lvl3"></app-esper-node></li>
    <li><app-esper-node class="notUsed"></app-esper-node></li>

    <li><app-esper-node class="lvl3"></app-esper-node></li>
    <li><app-esper-node class="lvl2"></app-esper-node></li>
    <li><app-esper-node></app-esper-node></li>
    <li><app-esper-node></app-esper-node></li>
    <li><app-esper-node></app-esper-node></li>
    <li><app-esper-node></app-esper-node></li>
    <li><app-esper-node class="lvl2"></app-esper-node></li>
    <li><app-esper-node class="lvl3"></app-esper-node></li>
    <li><app-esper-node class="notUsed"></app-esper-node></li>

    <li><app-esper-node class="lvl3"></app-esper-node></li>
    <li><app-esper-node class="lvl2"></app-esper-node></li>
    <li><app-esper-node></app-esper-node></li>
    <li><app-esper-node></app-esper-node></li>
    <li><app-esper-node></app-esper-node></li>
    <li><app-esper-node></app-esper-node></li>
    <li><app-esper-node></app-esper-node></li>
    <li><app-esper-node class="lvl2"></app-esper-node></li>
    <li><app-esper-node class="lvl3"></app-esper-node></li>

    <li><app-esper-node class="lvl3"></app-esper-node></li>
    <li><app-esper-node class="lvl2"></app-esper-node></li>
    <li><app-esper-node></app-esper-node></li>
    <li><app-esper-node></app-esper-node></li>
    <li><app-esper-node></app-esper-node></li>
    <li><app-esper-node></app-esper-node></li>
    <li><app-esper-node class="lvl2"></app-esper-node></li>
    <li><app-esper-node class="lvl3"></app-esper-node></li>
    <li><app-esper-node class="notUsed"></app-esper-node></li>

    <li><app-esper-node class="notUsed"></app-esper-node></li>
    <li><app-esper-node class="lvl3"></app-esper-node></li>
    <li><app-esper-node class="lvl2"></app-esper-node></li>
    <li><app-esper-node></app-esper-node></li>
    <li><app-esper-node></app-esper-node></li>
    <li><app-esper-node></app-esper-node></li>
    <li><app-esper-node class="lvl2"></app-esper-node></li>
    <li><app-esper-node class="lvl3"></app-esper-node></li>
    <li><app-esper-node class="notUsed"></app-esper-node></li>

    <li><app-esper-node class="notUsed"></app-esper-node></li>
    <li><app-esper-node class="lvl3"></app-esper-node></li>
    <li><app-esper-node class="lvl2"></app-esper-node></li>
    <li><app-esper-node class="lvl2"></app-esper-node></li>
    <li><app-esper-node class="lvl2"></app-esper-node></li>
    <li><app-esper-node class="lvl2"></app-esper-node></li>
    <li><app-esper-node class="lvl3"></app-esper-node></li>
    <li><app-esper-node class="notUsed"></app-esper-node></li>
    <li><app-esper-node class="notUsed"></app-esper-node></li>

    <li><app-esper-node class="notUsed"></app-esper-node></li>
    <li><app-esper-node class="notUsed"></app-esper-node></li>
    <li><app-esper-node class="lvl3"></app-esper-node></li>
    <li><app-esper-node class="lvl3"></app-esper-node></li>
    <li><app-esper-node class="lvl3"></app-esper-node></li>
    <li><app-esper-node class="lvl3"></app-esper-node></li>
    <li><app-esper-node class="lvl3"></app-esper-node></li>
    <li><app-esper-node class="notUsed"></app-esper-node></li>
    <li><app-esper-node class="notUsed"></app-esper-node></li>
  </ul>
</div>
