.counter {
  background-color: #616161;
  color: white;
  font-weight: bold;
  margin: 4px;
  display: inline-flex;
  padding: 7px 12px;
  border-radius: 16px;
  align-items: center;
  cursor: default;
  min-height: 32px;
  height: 1px;
}

.counter .denominator {
  font-weight: normal;
}
