body {
  line-height: 1;
}

@-webkit-keyframes rotating {
  from{
    -webkit-transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 2s linear infinite;
}


i.img {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  vertical-align: middle;
}

i.img.miniIcon {
  border-radius: 5px;
  height: 24px;
  width: 24px;
}


.tooltip-inner {
  white-space: nowrap;
  max-width: none !important;
}


body.dark {
  background-color: #707070;
}

.dark input {
  background-color: #f0f0f0;
}
