<div class="container-fluid">
  <mat-sidenav-container>
    <mat-sidenav-content class="content">
      <form class="filter">
        <div>
          <app-filter-selector [values]="itemTypes" [cssType]="'equipment'" [multipleChoice]="false" [filterData]="searchFilter" [filterName]="'equipmentType'"></app-filter-selector>
          <mat-form-field class="searchField">
            <input type="text" matInput [(ngModel)]="searchFilter.searchText" name="searchText" id="searchText" placeholder="Enter search text. Will search in item name and TMR's unit name">
          </mat-form-field>
        </div>
      </form>
      <div>
        <mat-paginator *ngIf="$searchResult.length > 50" [length]="$searchResult.length" [pageSize]="50" [pageIndex]="currentPage" (page)="changePage($event.pageIndex)"></mat-paginator>
        <div class="items">
          <mat-card *ngFor="let item of $filteredItems" class="itemCard">
            <mat-card-content class="item">
              <app-item-tile [item]="item" [mode]="ItemMode.CONCISE">
                <div *ngIf="$ownedItems" class="actions">
                  <button mat-button class="iconButton" clickPropagationStop (click)="addItem(item.id)">
                    <i class="fas fa-plus-square actionIcon"></i>
                  </button>
                  <button mat-button class="iconButton" clickPropagationStop (click)="removeItem(item.id)">
                    <i class="fas fa-minus-square actionIcon"></i>
                  </button>
                  <img *ngIf="$ownedItems[item.id]" class="actionIcon actionImg" src="{{environment.baseUrl}}img/icons/dwarf.png" clickPropagationStop (click)="openItemEnhancement(item)">
                  <img *ngIf="$ownedItems[item.id]" class="actionIcon actionImg" src="{{environment.baseUrl}}img/icons/excludeExpedition.png">
                </div>
              </app-item-tile>
              <app-counter *ngIf="$ownedItems && $ownedItems[item.id]" [value]="$ownedItems[item.id]"></app-counter>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-sidenav-content>
    <mat-sidenav #sideDrawer position="end" class="enhancementDrawer">
      <h4>Item enhancements</h4>
      <mat-card class="itemCard">
        <mat-card-content class="item">
          <app-item-tile [item]="$selectedItem" [mode]="ItemMode.CONCISE">
            <app-item-enhancement [item]="$selectedItem"></app-item-enhancement>
          </app-item-tile>
        </mat-card-content>
      </mat-card>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
