<div class="item" *ngIf="item">
  <div class="itemIcon">
    <img *ngIf="itemIcon" src="{{itemIcon}}" class="icon"/>
    <i *ngIf="itemIconClass" class="img {{itemIconClass}} icon"></i>
    <img *ngIf="item.twoHanded" class="iconModifier" src="{{environment.baseUrl}}img/icons/twoHanded.png" title="Two-handed">
    <img *ngIf="item.notStackable" class="iconModifier" src="{{environment.baseUrl}}img/icons/notStackable.png" title="Two-handed">
  </div>
  <div class="column">
    <div class="nameAndStats">
      <span class="rarity" *ngIf="item.rarity">{{item.rarity}}★</span>
      <span class="name"><app-item-link [name]="item.name" [wikiEntry]="item.wikiEntry"></app-item-link></span>
      <span class="jpname" *ngIf="item.jpname">{{item.jpname}}</span>
      <div class="statsContainer">
        <i *ngIf="itemTypeIconClass" class='itemType img {{itemTypeIconClass}} miniIcon'></i>
        <span class="stats">
          <ng-container *ngFor="let stat of baseStats">
            <span *ngIf="item[stat].flat" class="stat list {{stat}}">{{stat | uppercase}}+{{item[stat].flat}}<span class="separator">, </span></span>
            <span *ngIf="item[stat].percent" class="stat {{stat}}">{{stat | uppercase}}+{{item[stat].percent}}%<span class="separator">, </span></span>
          </ng-container>
        </span>
      </div>
      <div class="statTypeCategory" *ngIf="mode == Mode.DETAILED && (item.elements.length > 0 || item.physicalKillers.size > 0 || item.magicalKillers.size > 0 || item.ailments.size > 0)">
        <div class="statTypeCategoryIcon"><span class="fas fa-arrow-alt-circle-right"></span></div>
        <div>
          <span *ngIf="item.elements.length > 0" class="statType">
            <i *ngFor="let element of item.elements" class='img img-element-{{element}} miniIcon'></i>
          </span>
          <app-by-value-list [list]="item.physicalKillers" [type]="'killer-physical'"></app-by-value-list>
          <app-by-value-list [list]="item.magicalKillers" [type]="'magical'"></app-by-value-list>
          <app-by-value-list [list]="item.ailments" [type]="'ailment'"></app-by-value-list>
        </div>
      </div>
      <div class="statTypeCategory" *ngIf="mode == Mode.DETAILED && (item.elementalResists.size > 0 || item.ailmentResists.size > 0)">
        <div class="statTypeCategoryIcon"><span class="fas fa-arrow-alt-circle-left"></span></div>
        <div>
          <app-by-value-list [list]="item.ailmentResists" [type]="'ailment'"></app-by-value-list>
          <app-by-value-list [list]="item.elementalResists" [type]="'element'"></app-by-value-list>
        </div>
      </div>
    </div>
    <div class="accesses" *ngIf="mode == Mode.DETAILED">
      <div *ngIf="item.equipedConditions.length > 0" class="exclusive">if <span *ngFor="let condition of item.equipedConditions" class="list"><i class="img img-equipment-{{condition}} miniIcon"></i><span class="separator">, </span></span> equiped</div>
      <div *ngIf="item.exclusiveSex" class="exclusive">Only {{item.exclusiveSex}}</div>
      <div *ngIf="item.exclusiveUnits.length > 0" class="exclusive">Only <span *ngFor="let unit of exclusiveUnits" class="list"><app-item-link *ngIf="unit" [name]="unit.name" [wikiEntry]="unit.wikiEntry"></app-item-link><span *ngIf="!unit">unknown unit</span><span class="separator">, </span></span></div>
      <div *ngIf="item.access">Access :
        <span *ngFor="let access of item.access" class="list">
          {{access}}
          <span *ngIf="access.indexOf('TMR') >= 0 && tmrUnit"> of <app-item-link [name]="tmrUnit.name" [wikiEntry]="tmrUnit.wikiEntry"></app-item-link></span>
          <span *ngIf="access.indexOf('STMR') >= 0 && stmrUnit"> of <app-item-link [name]="stmrUnit.name" [wikiEntry]="stmrUnit.wikiEntry"></app-item-link></span>
          <span class="separator">, </span>
        </span>
      </div>
    </div>
    <div class="actions">
      <ng-content></ng-content>
    </div>
  </div>
  <div class="column" *ngIf="mode == Mode.DETAILED">
    <div class="special">
      <div *ngIf="item.damageVariance"><img src="{{environment.baseUrl}}img/items/ability_54.png" class="img skillIcon"/>x{{(item.damageVariance.min + item.damageVariance.max)/2}} damage variance (x{{item.damageVariance.min}} to x{{item.damageVariance.max}})</div>
      <app-item-link *ngIf="item.dualWield" [name]="'Dual Wield'" [icon]="'ability_72.png'"></app-item-link>
      <div *ngIf="item.partialDualWield.length > 0"><img src="{{environment.baseUrl}}img/items/ability_72.png" class="img skillIcon"/>Dual Wield of <i *ngFor="let weaponType of item.partialDualWield" class='img img-equipment-{{weaponType}} miniIcon'></i></div>
      <div *ngIf="item.allowUseOf">Allow use of <i class='img img-equipment-{{item.allowUseOf}} miniIcon'></i></div>
      <div *ngIf="item.physicalEvade"><img src="{{environment.baseUrl}}img/items/ability_75.png" class="img skillIcon"/>+{{item.physicalEvade}}% physical evasion</div>
      <div *ngIf="item.magicalEvade"><img src="{{environment.baseUrl}}img/items/ability_75.png" class="img skillIcon"/>+{{item.magicalEvade}}% magical evasion</div>
      <ng-container *ngIf="item.singleWielding">
        <ng-container *ngFor="let stat of item.singleWielding | keyvalue">
          <div *ngIf="stat.key === 'accuracy'"><img src="{{environment.baseUrl}}img/items/ability_40.png" class="img skillIcon"/>+{{stat.value}}% accuracy when single wielding</div>
          <div *ngIf="stat.key != 'accuracy' && stat.value > 0"><img src="{{environment.baseUrl}}img/items/ability_76.png" class="img skillIcon"/>+{{stat.value}}% equipment {{stat.key | uppercase}} when single wielding</div>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="item.singleWieldingOneHanded">
        <ng-container *ngFor="let stat of item.singleWieldingOneHanded | keyvalue">
          <div *ngIf="stat.key === 'accuracy'"><img src="{{environment.baseUrl}}img/items/ability_40.png" class="img skillIcon"/>+{{stat.value}}% accuracy when single wielding a one-handed weapon</div>
          <div *ngIf="stat.key != 'accuracy' && stat.value > 0"><img src="{{environment.baseUrl}}img/items/ability_76.png" class="img skillIcon"/>+{{stat.value}}% equipment {{stat.key | uppercase}} when single wielding a one-handed weapon</div>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="item.dualWielding">
        <ng-container *ngFor="let stat of item.dualWielding | keyvalue">
        <div *ngIf="stat.value"><img src="{{environment.baseUrl}}img/items/ability_72.png" class="img skillIcon"/>+{{stat.value}}% equipment {{stat.key | uppercase}} when dual wielding</div>
        </ng-container>
      </ng-container>
      <div *ngIf="item.accuracy"><img src="{{environment.baseUrl}}img/items/ability_40.png" class="img skillIcon"/>+{{item.accuracy}}% accuracy</div>
      <div *ngIf="item.mpRefresh"><img src="{{environment.baseUrl}}img/items/ability_91.png" class="img skillIcon"/>Recover {{item.mpRefresh}}% MP per turn</div>
      <div *ngIf="item.jumpDamage"><img src="{{environment.baseUrl}}img/items/ability_80.png" class="img skillIcon"/>+{{item.jumpDamage}}% jump damage</div>
      <div *ngIf="item.lbFillRate"><img src="{{environment.baseUrl}}img/items/ability_78.png" class="img skillIcon"/>+{{item.lbFillRate}}% LB gauge fill rate</div>
      <div *ngIf="item.lbDamage"><img src="{{environment.baseUrl}}img/items/ability_78.png" class="img skillIcon"/>+{{item.lbDamage}}% LB damage</div>
      <div *ngIf="item.lbPerTurn"><img src="{{environment.baseUrl}}img/items/ability_91.png" class="img skillIcon"/>+{{item.lbPerTurn.min}}-{{item.lbPerTurn.max}} LB gauge per turn</div>
      <div *ngIf="item.evoMag"><img src="{{environment.baseUrl}}img/items/ability_77.png" class="img skillIcon"/>+{{item.evoMag}}% Esper summon damage</div>
      <div *ngIf="item.esperStatsBonus"><img src="{{environment.baseUrl}}img/items/ability_77.png" class="img skillIcon"/>+{{item.esperStatsBonus.hp}}% stats from espers</div>
      <div *ngFor="let special of specials">{{special.before}}<app-item-link [name]="special.skillName" [icon]="special.icon" [wikiEntry]="special.wikiEntry"></app-item-link>{{special.text}}</div>
    </div>

  </div>
</div>
