<ng-template let-unit="unit" #unitCard>
  <mat-card class="unitCard">
    <mat-card-content class="unit" [ngClass]="{'notOwned':$ownedUnits && !$ownedUnits[unit.id]}">
      <app-unit-tile [unit]="unit">
        <div class="actions" *ngIf="$ownedUnits">
          <button mat-button class="iconButton" clickPropagationStop (click)="addUnit(unit.id)" matTooltip="Add an instance of this unit to your inventory">
            <i class="fas fa-plus-square actionIcon action"></i>
          </button>
          <button *ngIf="$ownedUnits && $ownedUnits[unit.id]" mat-button class="iconButton" clickPropagationStop (click)="removeUnit(unit.id)" matTooltip="Remove an instance of this unit from your inventory">
            <i class="fas fa-minus-square actionIcon action"></i>
          </button>
          <button *ngIf="$ownedUnits && $ownedUnits[unit.id]" mat-button class="iconButton" clickPropagationStop (click)="openMoreActions(unit.id)" matTooltip="More actions on this unit">
            <i class="fas fas fa-ellipsis-h actionIcon action"></i>
          </button>
        </div>
      </app-unit-tile>
      <ng-container *ngIf="$ownedUnits && $ownedUnits[unit.id]">
        <app-counter [value]="$ownedUnits[unit.id].number + $ownedUnits[unit.id].sevenStar"></app-counter>
        <app-counter class="tmrCounter" [value]="$ownedTmrNumberByUnitId.get(unit.id)" [denominator]="$totalTmrNumberByUnitId.get(unit.id)">
          <img class="action actionIcon actionImg" src="{{environment.baseUrl}}img/units/unit_ills_904000105.png" (click)="farmedThisTMR(unit.id)"  matTooltip="Increase the number of TMR of this unit owned">
        </app-counter>
      </ng-container>
    </mat-card-content>
  </mat-card>
</ng-template>

<mat-sidenav-container>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="img img-tab-history"></i>
      </ng-template>
      <ng-template matTabContent>
        <div class="unitHistory">
          <mat-paginator *ngIf="$unitHistory" [length]="$unitHistory.length" [pageSize]="5" [pageIndex]="currentPageHistory" (page)="changePageHistory($event.pageIndex)"></mat-paginator>
          <div *ngFor="let day of $filteredHistory" class="historyDay">
            <div class="day">{{day.name}}</div>
            <div *ngFor="let banner of day.banners">
              <div class="eventName">{{banner.name}}</div>
              <div class="units entries">
                <ng-container *ngFor="let unit of banner.units">
                  <ng-container *ngTemplateOutlet="unitCard; context: {unit:unit}"></ng-container>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</mat-sidenav-container>
