<form *ngIf="!multipleChoice" [formGroup]="radioGroupForm">
  <div class="btn-group btn-group-toggle group" ngbRadioGroup formControlName="value">
    <label *ngFor="let value of values" ngbButtonLabel class="btn-filter">
      <input ngbButton type="radio" [value]="value">
      <i class="img img-{{cssType}}-{{value}}"></i>
    </label>
  </div>
</form>
<form *ngIf="multipleChoice" [formGroup]="checkboxGroupForm">
  <div class="btn-group btn-group-toggle group" >
    <label *ngFor="let value of values" ngbButtonLabel class="btn-filter">
      <input ngbButton type="checkbox" formControlName="{{value}}">
      <i class="img img-{{cssType}}-{{value}}"></i>
    </label>
  </div>
</form>
