i.img {
  height: 38px;
  width: 38px;
}

.group {
  display: flex;
  flex-wrap: wrap;
}

.btn-filter {
  padding: 1px;
  margin: 1px;
}

.btn-filter:hover {
  background-color: #e2e6ea;
}

.btn-filter.active {
  background-color: #337ab7;
}

.tooltip {
  width: 150px;
  min-width: 150px;
}
