html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-card {
  padding: 5px !important;
}

.mat-card-title {
  margin-bottom: 5px !important;
  font-size: unset !important;
  font-weight: normal !important;
}
