


div {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform: skewY(-30deg) rotate(60deg);
  width: 100%;
}


div {
  background-color: #e9dace;
}
